.btn {
	font-family: 'Commissioner';
	font-weight: 500;
	@include adaptiveValue('font-size', 16, 12, 1600, 767.98, 1);
	line-height: math.div(20, 16);

	display: inline-flex;
	justify-content: center;
	@include adaptiveValue('min-width', 190, 130, 1600, 767.98, 1);
	@include adaptiveValue('padding-top', 18, 12, 1600, 767.98, 1);
	@include adaptiveValue('padding-bottom', 18, 12, 1600, 767.98, 1);
	padding-left: rem(20);
	padding-right: rem(20);

	border: 2px solid;
	border-radius: rem(30);
	transition: all 0.2s ease 0s;

	@media (any-hover: hover) {
		&:hover {
			transform: scale(1.02);
			box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
		}
	}

	&--black {
		color: $white;
		background-color: $mainColor;
		border: 2px solid $mainColor;
	}

	&--blue {
		background-color: $blue;
		color: $white;
		border: 2px solid $blue;
	}

	&--blue-outline {
		border: 2px solid $blue;
		color: $blue;
		background: inherit;
	}
}

//========================================================================================================================================================

.title {
	font-family: 'Commissioner';
	font-weight: 800;
	@include adaptiveValue('font-size', 36, 20);
	line-height: math.div(44, 36);

	@media (max-width: $mobile) {
		text-align: center;
	}

	&.center {
		text-align: center;
	}
}

.caption {
	font-weight: 700;
	@include adaptiveValue('font-size', 24, 16);
	line-height: math.div(29, 24);

	@media (max-width: $mobile) {
		text-align: center;
	}
}

.text {
	@include adaptiveValue('font-size', 16, 12);
	@include adaptiveValue('line-height', 20, 22);

	@media (max-width: $mobile) {
		text-align: center;
	}

	&--left {
		@media (max-width: $mobile) {
			text-align: left;
		}
	}
}

//========================================================================================================================================================

.circle {
	@include adaptiveValue('width', 100, 60, 1600, 767.98, 1);
	@include adaptiveValue('height', 100, 60, 1600, 767.98, 1);
	border-radius: 50%;
	position: relative;

	&--purple {
		background-color: #f5cee9;
	}

	&--green {
		background-color: #c8d7c2;
	}

	&--blue {
		background-color: #cde2f5;
	}

	&--blue2 {
		background-color: #96bee2;
	}

	&--gray {
		background-color: #eeeeee;
	}
}

//========================================================================================================================================================

.buttons-block {
	display: flex;
	flex-wrap: wrap;
	gap: rem(15);
	row-gap: rem(15);

	@media (max-width: $mobile) {
		row-gap: rem(10);
	}
}

.price-block {
	&:not(:last-child) {
		@include adaptiveValue('margin-bottom', 40, 20, 1600, 767.98, 1);
	}

	// .price--block__price
	&__price {
		font-weight: 700;
		@include adaptiveValue('font-size', 20, 12);
		line-height: math.div(24, 20);
	}

	// .price-block__info
	&__info {
		font-weight: 500;
		font-size: rem(12);
		line-height: math.div(15, 12);
	}
}

//========================================================================================================================================================

header,
section {
	transition: background-color 0.4s ease 0s;
	&.bg {
		background-color: $blue;
	}
}

//========================================================================================================================================================

.slider-arrow {
	position: absolute;
	width: rem(52);
	height: rem(52);
	border: 1px solid #d9d9d9;
	border-radius: 50%;

	display: inline-flex;
	justify-content: center;
	align-items: center;
	transition: all 0.2s ease 0s;

	@media (any-hover: hover) {
		&:hover {
			transform: scale(1.1) translateY(-50%);
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
		}
	}

	@media (max-width: 1300px) {
		display: none;
	}

	&.swiper-button-disabled {
		cursor: default;
		@media (any-hover: hover) {
			&:hover {
				transform: scale(1) translateY(-50%);
				box-shadow: none;
			}
		}

		svg {
			path {
				stroke: #d9d9d9;
			}
		}
	}

	&--prev,
	&--next {
		top: 50%;
		transform: translateY(-50%);
	}

	&--prev {
		left: rem(-65);
	}

	&--next {
		right: rem(-65);
	}
}

//========================================================================================================================================================
._anim-show {
	transform: translateY(30%);
	opacity: 0;
	transition: all 0.5s ease 0s;
}

._anim-show._watcher-view,
._watcher-view ._anim-show {
	transform: translateY(0px);
	opacity: 1;
}

//========================================================================================================================================================

.form-popup {
	// display: flex;
	// flex-direction: column;
	// gap: rem(16);
	max-width: rem(280);
	margin: 0 auto;
	@include adaptiveValue('margin-top', 25, 40, 1600, 767.98, 1);

	// .form-popup__input
	&__input {
		max-width: 100%;
		min-width: 100%;
		font-weight: 500;
		@include adaptiveValue('font-size', 16, 12);
		line-height: math.div(20, 16);
		border: 2px solid $blue;
		border-radius: rem(10);
		padding: rem(16) rem(24);
		margin-bottom: rem(16);

		&:focus {
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
			outline: none;
		}

		&::placeholder {
			color: #d8d8d8;
		}

		&.error {
			border: 2px solid red;
		}
	}

	&__checkbox {
		margin: rem(16) 0;
		display: flex;
		align-items: flex-start;
		gap: rem(5);

		label {
			@include adaptiveValue('font-size', 14, 12);
			line-height: math.div(17, 15);
			a {
				color: $blue;
			}
		}
	}

	// .form-popup__button
	&__button {
		display: block;
		width: 100%;
		margin: rem(16) auto 0;
		cursor: pointer;
	}
}

//========================================================================================================================================================
.iti {
	display: block;
	// display: block;
	max-width: 100%;
}

.iti__country-list {
	z-index: 200;
}

.iti--separate-dial-code .iti__selected-flag {
	font-weight: 500;
	@include adaptiveValue('font-size', 16, 12);
	color: $mainColor;
	background: transparent;
}

.iti__flag {
	background-image: url('../img/flags.png');
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.iti__flag {
		background-image: url('../img/flags@2x.png');
	}
}

//========================================================================================================================================================
/* wordpress styles*/
input.wpcf7-not-valid {
	border: 2px solid #ff0008;
}

.wpcf7-response-output {
	display: none;
}

.wpcf7-spinner {
	display: none;
}
