.btn {
	font-family: Commissioner;
	font-weight: 500;
	@include adaptiveValue('font-size', 16, 12, 1600, 767.98, 1);
	line-height: math.div(20, 16);

	display: inline-flex;
	justify-content: center;
	@include adaptiveValue('min-width', 190, 130, 1600, 767.98, 1);
	@include adaptiveValue('padding-top', 18, 12, 1600, 767.98, 1);
	@include adaptiveValue('padding-bottom', 18, 12, 1600, 767.98, 1);
	padding-left: rem(20);
	padding-right: rem(20);

	border: 2px solid;
	border-radius: rem(30);
	transition: all 0.2s ease 0s;

	@media (any-hover: hover) {
		&:hover {
			transform: scale(1.02);
			box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
		}
	}

	&--black {
		color: $white;
		background-color: $mainColor;
		border: 2px solid $mainColor;
	}

	&--blue {
		background-color: $blue;
		color: $white;
		border: 2px solid $blue;
	}

	&--blue-outline {
		border: 2px solid $blue;
		color: $blue;
		background: inherit;
	}
}

//========================================================================================================================================================

.title {
	font-family: Commissioner;
	font-weight: 800;
	@include adaptiveValue('font-size', 36, 20);
	line-height: math.div(44, 36);

	@media (max-width: $mobile) {
		text-align: center;
	}

	&.center {
		text-align: center;
	}
}

.caption {
	font-weight: 700;
	@include adaptiveValue('font-size', 24, 16);
	line-height: math.div(29, 24);

	@media (max-width: $mobile) {
		text-align: center;
	}
}

.text {
	@include adaptiveValue('font-size', 16, 12);
	@include adaptiveValue('line-height', 20, 22);

	@media (max-width: $mobile) {
		text-align: center;
	}
}

//========================================================================================================================================================

.circle {
	@include adaptiveValue('width', 100, 60, 1600, 767.98, 1);
	@include adaptiveValue('height', 100, 60, 1600, 767.98, 1);
	border-radius: 50%;
	position: relative;

	&--purple {
		background-color: #f5cee9;
	}

	&--green {
		background-color: #c8d7c2;
	}

	&--blue {
		background-color: #cde2f5;
	}

	&--blue2 {
		background-color: #96bee2;
	}

	&--gray {
		background-color: #eeeeee;
	}
}

//========================================================================================================================================================

.buttons-block {
	display: flex;
	flex-wrap: wrap;
	gap: rem(15);
	row-gap: rem(15);

	@media (max-width: $mobile) {
		row-gap: rem(10);
	}
}

.price-block {
	&:not(:last-child) {
		@include adaptiveValue('margin-bottom', 40, 20, 1600, 767.98, 1);
	}

	// .price--block__price
	&__price {
		font-weight: 700;
		@include adaptiveValue('font-size', 20, 12);
		line-height: math.div(24, 20);
	}

	// .price-block__info
	&__info {
		font-weight: 500;
		font-size: rem(12);
		line-height: math.div(15, 12);
	}
}
