.footer {
	background-color: #eeeeee;
	padding: rem(25) 0;

	@media (max-width: $mobile) {
		padding: rem(45) 0 rem(65);
	}

	// .footer__container
	&__container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: rem(15);

		@media (max-width: $mobileSmall) {
			grid-template-columns: 1fr;
		}
	}

	&__text,
	&__link {
		font-weight: 600;
		@include adaptiveValue('font-size', 12, 10);
		line-height: math.div(14, 12);

		@media (max-width: $mobileSmall) {
			text-align: center;
		}
	}

	// .footer__text
	&__text {
	}

	// .footer__link
	&__link {
		justify-self: end;
		text-transform: uppercase;
		transition: all 0.2s ease 0s;

		@media (max-width: $mobileSmall) {
			justify-self: center;
		}

		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.02);
			}
		}
	}
}
