.footer {
	background-color: #eeeeee;
	padding: rem(25) 0;

	@media (max-width: $mobile) {
		padding: rem(45) 0 rem(65);
	}

	// .footer__container
	&__container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: rem(15);

		@media (max-width: $mobile) {
			grid-template-columns: 1fr;
		}
	}

	&__body {
	}

	&__text,
	&__link {
		font-weight: 600;
		@include adaptiveValue('font-size', 12, 10);
		line-height: math.div(14, 12);

		@media (max-width: $mobile) {
			text-align: center;
		}
	}

	// .footer__text
	&__text {
	}

	// .footer__link
	&__link {
		justify-self: end;
		text-transform: uppercase;
		transition: all 0.2s ease 0s;

		@media (max-width: $mobile) {
			justify-self: center;
		}

		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.02);
			}
		}
	}
}

.logos-footer {
	display: grid;
	grid-template-columns: repeat(5, auto);
	align-items: center;
	justify-content: flex-end;
	justify-items: end;
	gap: rem(10);

	img {
		max-width: rem(50);
	}

	@media (max-width: $mobile) {
		justify-content: center;
		justify-items: center;
	}
}
