.first-screen {
	@include adaptiveValue('padding-top', 120, 40, 1600, 767.98, 1);
	@include adaptiveValue('padding-bottom', 120, 30, 1600, 767.98, 1);

	// .first-screen__container
	&__container {
		flex: 1 1 auto;
		display: grid;
		grid-template-columns: 1fr 50%;
		align-items: center;
		column-gap: rem(26);

		@media (max-width: $mobile) {
			grid-template-columns: 1fr;
			justify-content: center;
			align-items: center;
		}
	}

	// .first-screen__content
	&__content {
		@media (max-width: $mobile) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	// .first-screen__title
	&__title {
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 24, 16, 1600, 767.98, 1);
		}
	}

	// .first-screen__slogan
	&__slogan {
		width: percent(380, 555);

		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 60, 26, 1600, 767.98, 1);
		}

		@media (max-width: $pc) {
			width: 100%;
		}
	}

	// .first-screen__btn
	&__btn {
		@media (max-width: $mobile) {
			display: none;
		}
	}

	// .first-screen__image-ibg
	&__image-ibg {
		padding-bottom: percent(423, 528);

		img {
			object-fit: contain;
		}
	}
}

//========================================================================================================================================================

.second-block {
	@include adaptiveValue('padding-top', 180, 45, 1600, 767.98, 1);
	@include adaptiveValue('padding-bottom', 180, 45, 1600, 767.98, 1);
	background-color: #eeeeee;

	// .second-block__container
	&__container {
		display: grid;
		grid-template-columns: 1fr 50%;
		align-items: flex-start;
		@include adaptiveValue('gap', 80, 30, 1600, 767.98, 1);

		@media (max-width: $mobile) {
			grid-template-columns: 1fr;
		}
	}

	// .second-block__content
	&__content {
		@media (max-width: $mobile) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	// .second-block__title
	&__title {
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 32, 16, 1600, 767.98, 1);
		}
	}

	// .second-block__text
	&__text {
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 46, 54, 1600, 767.98, 1);
		}
	}

	// .second-block__buttons
	&__buttons {
	}

	// .second-block__image
	&__image-ibg {
		padding-bottom: percent(449, 638);

		img {
			object-fit: contain;
		}
	}
}

//========================================================================================================================================================

.thirth-block {
	@include adaptiveValue('padding-top', 120, 40, 1600, 767.98, 1);
	@include adaptiveValue('padding-bottom', 120, 40, 1600, 767.98, 1);

	// .thirth-block__container
	&__container {
	}

	// .thirth-block__title
	&__title {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: rem(16);

		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 80, 40, 1600, 767.98, 1);
		}

		@media (max-width: $mobile) {
			gap: rem(10);
		}

		&::before,
		&::after {
			content: '';
			display: block;
			width: rem(120);
			height: rem(4);
			background-color: #f5cee9;
			transform: translateY(rem(4));

			@media (max-width: $mobile) {
				width: rem(40);
				height: rem(2);
			}
		}
	}

	// .thirth-block__body
	&__body {
		max-width: 90%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
		@include adaptiveValue('column-gap', 50, 30);
		@include adaptiveValue('row-gap', 100, 20);

		@media (max-width: $mobile) {
			max-width: 100%;
		}
	}

	// .thirth-block__item
	&__item {
		display: flex;
		align-items: center;
		@include adaptiveValue('gap', 40, 16, 1600, 767.98, 1);

		@media (max-width: $mobile) {
			flex-direction: column;
		}
	}
}

.item-thirth-block {
	// .item-thirth-block__media
	&__media {
		@include adaptiveValue('width', 100, 60, 1600, 767.98, 1);
		@include adaptiveValue('height', 100, 60, 1600, 767.98, 1);
		position: relative;

		img {
			max-width: 100%;
			position: absolute;
			bottom: 0;
			right: rem(-5);
			z-index: 1;
		}
	}

	// .item-thirth-block__text
	&__text {
		font-weight: 500;
		@include adaptiveValue('font-size', 16, 12);
		@include adaptiveValue('line-height', 20, 14);

		@media (max-width: $mobile) {
			text-align: center;
		}
	}
}

//========================================================================================================================================================

.fourth-block {
	background-color: $green;
	@include adaptiveValue('padding-top', 100, 40, 1600, 767.98, 1);
	@include adaptiveValue('padding-bottom', 100, 40, 1600, 767.98, 1);

	// .fourth-block__container
	&__container {
	}

	// .fourth-block__title
	&__title {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: rem(16);

		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 80, 40, 1600, 767.98, 1);
		}

		@media (max-width: $mobile) {
			gap: rem(10);
		}

		&::before,
		&::after {
			content: '';
			display: block;
			width: rem(120);
			height: rem(4);
			background-color: $white;
			transform: translateY(rem(4));

			@media (max-width: $mobile) {
				width: rem(40);
				height: rem(2);
			}
		}
	}

	// .fourth-block__body
	&__body {
		max-width: 70%;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: rem(35);

		@media (max-width: $tablet) {
			max-width: 85%;
		}

		@media (max-width: $mobile) {
			flex-direction: column;
			max-width: 100%;
		}
	}

	// .fourth-block__image-ibg
	&__image-ibg {
		width: rem(185);
		height: rem(390);

		img {
			object-fit: contain;
		}
	}

	// .fourth-block__content
	&__content {
		flex: 0 0 58%;
	}

	// .fourth-block__caption
	&__caption {
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 25, 15, 1600, 767.98, 1);
		}
	}

	// .fourth-block__text
	&__text {
	}
}

//========================================================================================================================================================

.fifth-block {
	@include adaptiveValue('padding-top', 100, 40, 1600, 767.98, 1);
	@include adaptiveValue('padding-bottom', 100, 40, 1600, 767.98, 1);

	// .fifth-block__container
	&__container {
	}

	// .fifth-block__body
	&__body {
		max-width: 70%;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: rem(35);

		@media (max-width: $tablet) {
			max-width: 85%;
		}

		@media (max-width: $mobile) {
			flex-direction: column-reverse;
			max-width: 100%;
		}
	}

	// .fifth-block__content
	&__content {
		flex: 0 0 58%;
	}

	// .fifth-block__caption
	&__caption {
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 25, 15, 1600, 767.98, 1);
		}
	}

	// .fifth-block__text
	&__text {
	}

	// .fifth-block__image-ibg
	&__image-ibg {
		width: rem(185);
		height: rem(390);

		img {
			object-fit: contain;
		}
	}
}

//========================================================================================================================================================

.sixth-block {
	@include adaptiveValue('padding-top', 100, 40, 1600, 767.98, 1);
	@include adaptiveValue('padding-bottom', 100, 40, 1600, 767.98, 1);
	background-color: #cde2f5;

	// .sixth-block__container
	&__container {
	}

	// .sixth-block__body
	&__body {
		max-width: 70%;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: rem(35);

		@media (max-width: $tablet) {
			max-width: 85%;
		}

		@media (max-width: $mobile) {
			flex-direction: column;
			max-width: 100%;
		}
	}

	// .sixth-block__image
	&__image {
		max-width: rem(290);
		img {
			max-width: 100%;
		}
	}

	// .sixth-block__image-ibg
	&__image-ibg {
		width: rem(290);
		height: rem(390);

		img {
			object-fit: contain;
		}
	}

	// .sixth-block__content
	&__content {
		flex: 0 0 58%;
		@media (max-width: $mobile) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	// .sixth-block__caption
	&__caption {
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 25, 15, 1600, 767.98, 1);
		}
	}

	// .sixth-block__text
	&__text {
		&:not(:last-child) {
			margin-bottom: rem(16);
		}
	}

	// .sixth-block__price
	&__price {
	}

	// .sixth-block__buttons
	&__buttons {
	}
}

//========================================================================================================================================================

.author {
	@include adaptiveValue('padding-top', 100, 40, 1600, 767.98, 1);
	@include adaptiveValue('padding-bottom', 100, 40, 1600, 767.98, 1);

	// .author-block__container
	&__container {
	}

	// .author-block__body
	&__body {
		max-width: 70%;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: rem(35);

		@media (max-width: $tablet) {
			max-width: 85%;
		}

		@media (max-width: $mobile) {
			flex-direction: column-reverse;
			max-width: 100%;
		}
	}

	// .author-block__content
	&__content {
		flex: 0 0 58%;
		@media (max-width: $mobile) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	// .author-block__caption
	&__caption {
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 25, 15, 1600, 767.98, 1);
		}
	}

	// .author-block__text
	&__text {
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 40, 20, 1600, 767.98, 1);
		}
	}

	// .author-block__btn
	&__btn {
		font-weight: 600;
		@include adaptiveValue('font-size', 20, 12);
		line-height: math.div(24, 20);
		text-decoration: underline;
		transition: all 0.2s ease 0s;

		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.02);
			}
		}
	}

	// .author-block__image-ibg
	&__image-ibg {
		width: rem(290);
		padding-bottom: 60%;

		img {
			object-fit: contain;
		}
	}
}

//========================================================================================================================================================

.eighth-block {
	@include adaptiveValue('padding-top', 80, 40, 1600, 767.98, 1);
	@include adaptiveValue('padding-bottom', 60, 40, 1600, 767.98, 1);
	background-color: #eeeeee;

	// .eighth-block__container
	&__container {
	}

	// .eighth-block__title
	&__title {
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 80, 25, 1600, 767.98, 1);
		}
	}

	// .eighth-block__body
	&__body {
		max-width: 90%;
		margin: 0 auto;

		@media (max-width: $mobile) {
			max-width: 100%;
		}
	}

	// .eighth-block__list
	&__list {
		display: grid;
		grid-template-columns: 48% 48%;
		column-gap: 4%;
		row-gap: rem(35);

		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 88, 30, 1600, 767.98, 1);
		}

		@media (max-width: $mobile) {
			grid-template-columns: 1fr;
			row-gap: rem(12);
		}
	}

	// .eighth-block__item
	&__item {
		display: flex;
		align-items: center;
		gap: rem(14);

		img {
			@media (max-width: $mobile) {
				width: rem(20);
				height: rem(20);
			}
		}

		span {
			@include adaptiveValue('font-size', 16, 12);
			line-height: math.div(20, 16);
		}
	}

	// .eighth-block__text
	&__text {
		font-weight: 500;
		text-align: center;
		color: #000000;
	}
}

//========================================================================================================================================================

.reviews {
	@include adaptiveValue('padding-top', 40, 30, 1600, 767.98, 1);
	@include adaptiveValue('padding-bottom', 40, 30, 1600, 767.98, 1);

	// .reviews__container
	&__container {
	}

	// .reviews__title
	&__title {
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 80, 35, 1600, 767.98, 1);
		}
	}

	// .reviews__block
	&__block {
		position: relative;
	}

	// .reviews__slider
	&__slider {
	}

	// .reviews__wrapper
	&__wrapper {
	}

	// .reviews__slide
	&__slide {
	}
}

.item-reviews {
	position: relative;
	@include adaptiveValue('min-height', 150, 70);

	// .item-reviews__image-ibg
	&__image-ibg {
		@include adaptiveValue('width', 140, 65, 1600, 767.98, 1);
		@include adaptiveValue('height', 140, 65, 1600, 767.98, 1);
		border-radius: rem(50%);
		overflow: hidden;
		position: absolute;
		top: 10%;
		left: 0;
	}

	// .item-reviews__content
	&__content {
		@include adaptiveValue('border-radius', 20, 10, 1600, 767.98, 1);
		max-width: percent(460, 530);
		height: 100%;
		margin-left: auto;
		@include adaptiveValue('padding-top', 50, 12, 1600, 767.98, 1);
		@include adaptiveValue('padding-right', 38, 8, 1600, 767.98, 1);
		@include adaptiveValue('padding-bottom', 50, 12, 1600, 767.98, 1);
		@include adaptiveValue('padding-left', 90, 40, 1600, 767.98, 1);
	}

	// .item-reviews__title
	&__title {
		font-weight: 700;
		@include adaptiveValue('font-size', 20, 13);
		line-height: math.div(22, 20);

		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 12, 5, 1600, 767.98, 1);
		}

		@media (max-width: $mobile) {
			text-align: left;
		}
	}

	// .item-reviews__text
	&__text {
		@include adaptiveValue('font-size', 16, 12);
		line-height: math.div(18, 16);

		@media (max-width: $mobile) {
			text-align: left;
		}
	}
}

//========================================================================================================================================================

.faq {
	@include adaptiveValue('padding-top', 40, 30, 1600, 767.98, 1);
	@include adaptiveValue('padding-bottom', 60, 20, 1600, 767.98, 1);

	// .faq__container
	&__container {
	}

	// .faq__title
	&__title {
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 60, 35, 1600, 767.98, 1);
		}
	}

	// .faq__body
	&__body {
	}

	// .faq__content
	&__content {
	}
}

.faq-spollers {
	// .faq-spollers__item
	&__item {
	}

	// .faq-spollers__title
	&__title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border: 1px solid #eeeeee;
		border-radius: rem(5);
		padding: rem(16) rem(24);
		width: 100%;
		transition: all 0.3s ease 0s;

		&:not(:last-child) {
			margin-bottom: rem(12);
		}

		@media (any-hover: hover) {
			&:hover {
				box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
			}
		}

		@media (max-width: $mobile) {
			padding: rem(12);
		}

		span {
			font-weight: 600;
			@include adaptiveValue('font-size', 16, 12);
			line-height: math.div(20, 16);
			text-transform: uppercase;
			text-align: left;
			color: $blue;
		}

		svg {
			transition: all 0.2s ease 0s;
			@media (max-width: $mobile) {
				display: none;
			}
		}

		&._spoller-active {
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
			svg {
				transform: rotate(180deg);
			}
		}
	}

	// .faq-spollers__body
	&__body {
		padding: rem(4) rem(24) rem(16);
		@include adaptiveValue('font-size', 16, 12);
		line-height: math.div(20, 16);

		@media (max-width: $mobile) {
			padding: rem(0) rem(12) rem(12);
		}
	}
}

//========================================================================================================================================================

.promo {
	@include adaptiveValue('padding-top', 60, 20, 1600, 767.98, 1);
	@include adaptiveValue('padding-bottom', 120, 40, 1600, 767.98, 1);

	// .promo__container
	&__container {
	}

	// .promo__body
	&__body {
		background-color: #cde2f5;
		border-radius: rem(20);
		display: flex;
		gap: rem(70);
		align-items: center;
		padding: rem(30) rem(65);

		@media (max-width: $mobile) {
			flex-direction: column;
			padding: rem(20) rem(5) rem(32);
			gap: rem(20);
		}
	}

	// .promo__image
	&__image-ibg {
		flex: 1 0 40%;
		padding-bottom: percent(340, 1110);

		@media (max-width: $mobile) {
			width: 100%;
		}

		img {
			object-fit: contain;
		}
	}

	// .promo__content
	&__content {
		@media (max-width: $mobile) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	// .promo__caption
	&__caption {
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 28, 16, 1600, 767.98, 1);
		}
	}

	// .promo__price
	&__price {
	}

	// .promo__buttons
	&__buttons {
	}
}
