.first-screen {
	@include adaptiveValue('padding-top', 120, 40, 1600, 767.98, 1);
	@include adaptiveValue('padding-bottom', 120, 30, 1600, 767.98, 1);

	// .first-screen__container
	&__container {
		display: grid;
		grid-template-columns: 1fr 50%;
		align-items: center;
		column-gap: rem(26);

		@media (max-width: $mobile) {
			grid-template-columns: 1fr;
		}
	}

	// .first-screen__content
	&__content {
		@media (max-width: $mobile) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	// .first-screen__title
	&__title {
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 24, 16, 1600, 767.98, 1);
		}
	}

	// .first-screen__slogan
	&__slogan {
		width: percent(380, 555);

		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 60, 26, 1600, 767.98, 1);
		}

		@media (max-width: $pc) {
			width: 100%;
		}
	}

	// .first-screen__btn
	&__btn {
		@media (max-width: $mobile) {
			display: none;
		}
	}

	// .first-screen__image
	&__image {
		justify-self: end;

		@media (max-width: $mobile) {
			justify-self: center;
		}

		img {
			max-width: 100%;
		}
	}
}

//========================================================================================================================================================

.second-block {
	@include adaptiveValue('padding-top', 180, 45, 1600, 767.98, 1);
	@include adaptiveValue('padding-bottom', 180, 45, 1600, 767.98, 1);
	background-color: #eeeeee;

	// .second-block__container
	&__container {
		display: grid;
		grid-template-columns: 1fr 50%;
		@include adaptiveValue('gap', 80, 30, 1600, 767.98, 1);

		@media (max-width: $mobile) {
			grid-template-columns: 1fr;
		}
	}

	// .second-block__content
	&__content {
		@media (max-width: $mobile) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	// .second-block__title
	&__title {
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 32, 16, 1600, 767.98, 1);
		}
	}

	// .second-block__text
	&__text {
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 46, 54, 1600, 767.98, 1);
		}
	}

	// .second-block__buttons
	&__buttons {
		display: flex;
		flex-wrap: wrap;
		gap: rem(15);
		row-gap: rem(15);

		@media (max-width: $mobile) {
			row-gap: rem(10);
		}
	}

	// .second-block__image
	&__image {
		@media (max-width: $mobile) {
			justify-self: center;
		}

		img {
			max-width: 100%;
		}
	}
}

//========================================================================================================================================================

.thirth-block {
	@include adaptiveValue('padding-top', 120, 40, 1600, 767.98, 1);
	@include adaptiveValue('padding-bottom', 120, 40, 1600, 767.98, 1);
	// position: relative;
	// overflow: hidden;

	// &::after {
	// 	content: url('@img/thirth-block/decor.svg');
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	transform: translateY(-10%);
	// }

	// .thirth-block__container
	&__container {
	}

	// .thirth-block__title
	&__title {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: rem(16);

		br {
			@media (min-width: $mobile) {
				display: none;
			}
		}

		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 80, 40, 1600, 767.98, 1);
		}

		@media (max-width: $mobile) {
			gap: rem(10);
		}

		&::before,
		&::after {
			content: '';
			display: block;
			width: rem(120);
			height: rem(4);
			background-color: #f5cee9;
			transform: translateY(rem(4));

			@media (max-width: $mobile) {
				width: rem(40);
				height: rem(2);
			}
		}
	}

	// .thirth-block__body
	&__body {
		width: 90%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
		@include adaptiveValue('column-gap', 50, 30);
		@include adaptiveValue('row-gap', 100, 20);

		@media (max-width: $mobile) {
			width: 100%;
		}
	}

	// .thirth-block__item
	&__item {
		display: flex;
		align-items: center;
		@include adaptiveValue('gap', 40, 16, 1600, 767.98, 1);

		@media (max-width: $mobile) {
			flex-direction: column;
		}
	}
}

.item-thirth-block {
	// .item-thirth-block__media
	&__media {
		@include adaptiveValue('width', 100, 60, 1600, 767.98, 1);
		@include adaptiveValue('height', 100, 60, 1600, 767.98, 1);
		position: relative;

		img {
			max-width: 100%;
			position: absolute;
			bottom: 0;
			right: rem(-5);
			z-index: 1;
		}
	}

	// .item-thirth-block__text
	&__text {
		font-weight: 500;
		@include adaptiveValue('font-size', 16, 12);
		@include adaptiveValue('line-height', 20, 14);

		@media (max-width: $mobile) {
			text-align: center;
		}
	}
}

//========================================================================================================================================================

.fourth-block {
	background-color: $green;
	@include adaptiveValue('padding-top', 80, 40, 1600, 767.98, 1);
	@include adaptiveValue('padding-bottom', 86, 72, 1600, 767.98, 1);

	// .fourth-block__container
	&__container {
	}

	// .fourth-block__title
	&__title {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: rem(16);

		br {
			@media (min-width: $mobile) {
				display: none;
			}
		}

		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 80, 40, 1600, 767.98, 1);
		}

		@media (max-width: $mobile) {
			gap: rem(10);
		}

		&::before,
		&::after {
			content: '';
			display: block;
			width: rem(120);
			height: rem(4);
			background-color: $white;
			transform: translateY(rem(4));

			@media (max-width: $mobile) {
				width: rem(40);
				height: rem(2);
			}
		}
	}

	// .fourth-block__body
	&__body {
		max-width: percent(750, 1110);
		margin: 0 auto;
		display: flex;
		align-items: center;
		@include adaptiveValue('gap', 125, 25, 1600, 767.98, 1);

		@media (max-width: $mobile) {
			flex-direction: column;
			max-width: 100%;
		}
	}

	// .fourth-block__image
	&__image {
		flex: 1 0 percent(200, 750);
		img {
			max-width: 100%;
		}
	}

	// .fourth-block__content
	&__content {
	}

	// .fourth-block__caption
	&__caption {
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 28, 16, 1600, 767.98, 1);
		}
	}

	// .fourth-block__text
	&__text {
	}
}

//========================================================================================================================================================

.fifth-block {
	@include adaptiveValue('padding-top', 140, 40, 1600, 767.98, 1);
	@include adaptiveValue('padding-bottom', 140, 48, 1600, 767.98, 1);

	// .fifth-block__container
	&__container {
	}

	// .fifth-block__body
	&__body {
		max-width: percent(750, 1110);
		margin: 0 auto;
		display: flex;
		align-items: center;
		@include adaptiveValue('gap', 125, 25, 1600, 767.98, 1);

		@media (max-width: $mobile) {
			flex-direction: column-reverse;
			max-width: 100%;
		}
	}

	// .fifth-block__content
	&__content {
	}

	// .fifth-block__caption
	&__caption {
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 28, 16, 1600, 767.98, 1);
		}
	}

	// .fifth-block__text
	&__text {
	}

	// .fifth-block__image
	&__image {
		flex: 1 0 percent(200, 750);

		img {
			max-width: 100%;
		}
	}
}

//========================================================================================================================================================

.sixth-block {
	@include adaptiveValue('padding-top', 140, 40, 1600, 767.98, 1);
	@include adaptiveValue('padding-bottom', 140, 45, 1600, 767.98, 1);
	background-color: #cde2f5;

	// .sixth-block__container
	&__container {
	}

	// .sixth-block__body
	&__body {
		max-width: percent(750, 1110);
		margin: 0 auto;
		display: flex;
		align-items: center;
		@include adaptiveValue('gap', 50, 25, 1600, 767.98, 1);

		@media (max-width: $mobile) {
			flex-direction: column;
			max-width: 100%;
		}
	}

	// .sixth-block__image
	&__image {
		flex: 1 0 percent(295, 750);

		img {
			max-width: 100%;
		}
	}

	// .sixth-block__content
	&__content {
		@media (max-width: $mobile) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	// .sixth-block__caption
	&__caption {
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 28, 16, 1600, 767.98, 1);
		}
	}

	// .sixth-block__text
	&__text {
		&:not(:last-child) {
			margin-bottom: rem(16);
		}
	}

	// .sixth-block__price
	&__price {
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 40, 20, 1600, 767.98, 1);
		}
	}

	// .sixth-block__buttons
	&__buttons {
		display: flex;
		flex-wrap: wrap;
		gap: rem(15);
		row-gap: rem(15);

		@media (max-width: $mobile) {
			row-gap: rem(10);
		}
	}
}

.price-sixth-block {
	// .price-sixth-block__price
	&__price {
		font-weight: 700;
		@include adaptiveValue('font-size', 20, 12);
		line-height: math.div(24, 20);
	}

	// .price-sixth-block__info
	&__info {
		font-weight: 500;
		font-size: rem(12);
		line-height: math.div(15, 12);
	}
}
